%h2
  Name:
  = @med.name
  %br
  Directions:
  = @med.direction
#{link_to 'Edit', edit_hospital_patient_med_path(@hospital, @patient, @med)}
#{link_to 'Destroy', hospital_patient_med_path(@hospital, @patient, @med), method: :delete}