// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.back{
  background-color: #B3B3B3;
  border-radius: 20%;
  border-bottom: 2px solid #B3B3B3;
  border-top: 2px solid #B3B3B3;
  border-left: 2px solid #B3B3B3;
  border-right: 2px solid #B3B3B3;
  margin-top: 10px;
}
.container img {
  width: 100%;
  height: auto;
  display: block;
}
.navbar{
  background-color: #246DD4;
  z-index: -1;
  border-bottom: 2px solid #471F24;
}
.sidebar{
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #246DD4;
  opacity: .95;
  z-index: +1;
}
.info{
  position: absolute;
  background-color: white;
  opacity: .75;
}
.back:hover{
  background-color: #85D2DE;
}
.submit{
  background-color: #ddd;
}
.submit:hover{
  background-color: #white;
}
h1 {
  color: #471F24;
  background-color: #3F7FD9;
  border-bottom: 4px solid #534E8A;
  opacity: .9;
}
.link {
  color: #9EF2FF;
  font-weight: bold;
  text-align: left;
  background-color: #BA4545;
  border-top: 4px solid #534E8A;
  opacity: .75;
}
div {
  text-align: center;
  color: #471F24;
}
h4 {
  color: #471F24;
  text-align: center;
}
h3, h2, .doctor {
  text-align: center;
  color: black;
}
.patients {
  text-align: center;
  color: black;
}
body {
  background-color: #6B8AB5;
  margin-right: 100;
  opacity: .98
}